@import url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRAk4P20mw9lcx22MTV5qVngXg09LrugZ08Dw&usqp=CAU");

body {
    font-family: "Raleway", sans-serif;
    box-sizing: border-box;
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-image: url("/Covid-19/images/bg.jpg");
    background-position: center;
    background-repeat: scroll;
    background-size: cover;
    position: relative;
    
  }

#page-container{
    margin: 0;
    padding: 0;
}

/* --logo--*/
h1{
    font-size: 1.3rem;
    color: rgb(240, 231, 231);
}

img{
      width: 12rem;
  }

span{
    font-size: .7rem;
    color: rgb(240, 231, 231);

}


 /* --navBar--*/
 .flex{
    display: flex;
  }
 
  nav{
    margin: 2px 0px 55px 250px;
    color: #fff;

  }

  ul{
    list-style-type: none;
   
  }
  
  a{
    text-decoration: none;
    color: inherit;
  }

  nav li{
      font-size: 1.3rem;
      font-weight: bold;
  }
  
  .li-middle{
    color: rgb(101, 175, 240);
    padding: 0px 40px 0px;
  }
  
  nav li a:hover{
    color: #0065fc;
    border-top: 2px solid #0065fc;
    padding-top: 38px;
  }


/* --searchBar--*/

  .searching {
    margin: 35px 0 30px;
  }

  .searchInput {
    border: 1px solid rgba(181, 177, 177, 0.831);
    padding: 0 0 0 10px;
    font-size: 1rem;
    width: 25rem;
    height: 2.9rem;
    margin-bottom: 40px;
}

.searchInput:hover {
    border: 1px solid rgb(101, 175, 240);
}
  
.bar-searching{
    margin-bottom: 15px;
    text-align: right;
  }  

  .searchInput::placeholder{
    color: rgb(177, 174, 174);
  }
  
  .button-search {
    position: relative;
    width: 4rem;
    height: 3rem;
    background-color: #1c8fd7;
    left: -20px;
    border: none;
    padding: 0;
    border-radius: 0 5px 5px 0;
    color: #fff;
    font-size: 1.1rem;
    cursor: pointer;
    flex-shrink: 0;
}


/* --flex-container--*/

.flex-container {
    display: flex;
    flex-direction: column;
    min-height: 0px;
    min-width: 0px;
    padding: 1rem;
    border: 1px solid #fff;
    border-radius: 10px;
    flex: 1 1 auto;
    -webkit-box-pack: initial;
    justify-content: initial;
    -webkit-box-align: initial;
    align-items: initial;
    width:75%;
    margin-right: 10px;
    color: rgba(255, 255, 255, 0.842);
}

/* --board--*/

caption {
    font-size: 1.5rem;
    font-weight: bold;
    text-align: left;
    margin-bottom: 25px;
    border-bottom: 2px solid rgba(211, 211, 211, 0.973);
    padding-bottom: 25px;
}

caption:hover{
  color: #84d7e6;
  ;
}

tr{
    margin:0;
    text-align: left;
    line-height: 25px;
}

.tr-style{
    font-weight: normal;
}

button{
  font-size: 12px;
    background-color: #1c8fd7;
    width: 15%;
    margin-top: 10px;
    padding: 8px;
    color: #fff;
    font-weight: 600;
    border: none;
    transition : all .5s;
}

button:hover{
  background-color: #0065fc;
  transform: scale(1.02);
}


/* --aside--*/

section{
    display: flex;
    margin-bottom: 40px;

}
   
aside{
    position: relative;
    font-size: 0.8em;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 2px 5px #1c1a19;
    width: 20%;
    color: #fff;
    border: 1px solid #fff;
}

aside h1{
    font-size: 11px;
}

/* --footer--*/

footer{
    padding: 5px 0px 0px;
    background-color: #040f2279;
    color: #fff;
  }

  footer img{
      width: 6rem;
      padding : 12px;

  }

  footer div{
    flex: 1;
    font-size: .7rem;
    padding : 12px;

  }
  
  footer li{
    margin-bottom: 5px;
  }
  
  footer a:hover{
    color: #84d7e6;
    transform: scale(2);
    font-weight: 600;
  }
  
  iframe{
    width: 50%;
  }

  .output {
    background: #eee;
}


/*--Starting-MQ-600-smartphone--*/
@media only screen and (max-width: 600px) 
{
  nav{margin: 0px 0px 0px 30px;}
  section{
    display: flex;
    flex-direction: column;
}

span {
  font-size: 1rem;
  color: #fff;
}
aside img{padding-left: 8rem;}
button{width: 35%;}

aside {
    position: relative;
    box-sizing: border-box;
    font-size: 0.8em;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 2px 5px #1c1a19;
    color: #fff;
    min-width: 161%;
}

.flex-container {
    min-height: 0px;
    box-sizing: border-box;
    width: 162%;
    padding: 1rem;
    border: 1px solid rgb(204, 204, 204);
    border-radius: 10px;
    flex: 1 1 auto;
    -webkit-box-pack: initial;
    justify-content: initial;
    -webkit-box-align: initial;
    align-items: initial;
    margin-right: auto;
}

caption {
    font-size: 1.5rem;
    font-weight: bold;
    text-align: left;
    margin-bottom: 22px;
    border-bottom: 1px solid lightgray;
    padding-bottom: 22px;
}
.bar-searching {
  margin-bottom: 14px;
}
.searchInput {
  border: 1px solid rgba(181, 177, 177, 0.831);
  padding: 0 0 0 11px;
  font-size: 1rem;
  width: 14rem;
  height: 2.9rem;
  margin-bottom: 0px;
}
.button-search {
  position: relative;
  width: 4rem;
  height: 3rem;
  background-color: #1c8fd7;
  left: 0px;
  border: none;
  padding: 1px;
  border-radius: 0 5px 5px 0;
  color: #fff;
  font-size: 1.1rem;
  cursor: pointer;
  flex-shrink: 0;
}
aside h1 {
  font-size: 1.3rem;
}
footer{min-width:161%; flex-direction: column;}
iframe{width:60%;}
}